<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center w-100">
                    <div class="col-auto">
                        <a class="" href="/">
                            <h4>Library Management System</h4>
                        </a>
                    </div>
                    <div class="col-auto">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                  aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="/member/user-edit">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/book/list">Book List</a>
                                </li>
                                <li class="nav-item">
                                    <p class="nav-link">Welcome, <span th:text="${username}"></span>さん</p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
